global:
  domain: argo.greenbespinglobal.store

server:
  ingress:
    enabled: true
    ingressClassName: alb
    annotations:
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/group.name: argocd
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}, {"HTTPS":443}]'
      alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:ap-northeast-2:560971842042:certificate/64ca49df-cbda-42d7-81ea-12ed4480f3f2
      alb.ingress.kubernetes.io/ssl-redirect: '443'
      alb.ingress.kubernetes.io/healthcheck-path: /healthz
      external-dns.alpha.kubernetes.io/hostname: argo.greenbespinglobal.store.
    hosts:
      - argo.greenbespinglobal.store
    pathType: Prefix
    https: true
  extraArgs:
    - --insecure

configs:
  cm:
    dex.config: |
      connectors:
      - type: github
        id: github
        name: GitHub
        config:
          clientID: Ov23liAYzwRHZKzvj4Ou
          clientSecret: 327faff580eaaeb35c02c4f92ac003242d812ecb

  rbac:
    policy.csv: |
      g, Oh-jongmin, role:admin
    policy.default: role:readonly
